.idea/
.venv/
/data

# broker service
broker/.env
broker/brokerApp

#listener service
listener/.env
listener/listenerApp

# user service ignored files
user/**/__pycache__/
user/.env

# reciepe service ignored files
recipe/**/__pycache__/
recipe/.env

# notification service ignored files
mailer/**/__pycache__/
mailer/.env

# mealPlanning service ignored files
mealPlanning/.env
mealPlanning/mealApp



# logger service ignored files
logger/.env
logger/loggerApp