.idea/

# user service ignored files
user/.user_venv
user/__pycache__/

# reciepe service ignored files

recipe/.recipe_venv
recipe/__pycache__/

# notification service ignored files

notification/.notif_venv
notification/__pycache__/
